


  .output {
  padding: 10px 20px;        /* inner space */
  border-radius: 9999px;     /* full rounded */
  margin-top: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: inline-block;    
  }


/* ✅ Add These Color Classes */
.underweight {
  background-color: blue;

}

.normal {
  background-color: green;
}

.overweight {
  background-color: orange;
}

.obese {
  background-color: red;
}
