/* Navbar.css */
.navbar {
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-item {
    margin: 0 10px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-link:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  
  .navbar-logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login-button {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #e67e22;
  }
  
  .navbar-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  